.root-layout {
  .layout__header {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .header__title {
      line-height: 64px;
      color: #000;
      margin: 0;
      white-space: nowrap;
    }

    .header__menu {
      margin-left: 20px;
    }
  }

  .layout__content {
    padding-top: 64px;
  }
}